.bash_history
.bash_logout
.bashrc
book
.cache
.codeblocks
.config
.dbus
Desktop
.dmrc
.gconf
.git
.gitconfig
.gitk
.gksu.lock
.gnome2
.gstreamer-0.10
.gvfs
.local
.mozilla
.profile
.pulse
.pulse-cookie
.ssh
.thumbnails
.viminfo
.Xauthority
.xsession-errors
.xsession-errors.old
.ccache
.purple
gz
